extends ../layout

block append head
    script(src='/scripts/developers/list-apps.js')

block content
    .container

        .page-header
            h1= title

        .content
            form(name='Developers' class='form-inline')
                .form-group
                    label(for='email') Email:
                    input(type='text' class='form-control')
                .form-group
                    label(for='expand') Expand:
                    select(class='form-control')
                        option(value='true' selected) true
                        option(value='false') false
                button(id='listDeveloperApps' class='btn btn-primary submit') Submit

            h4(class='results') Result
            pre
                code(class='result-json')