extends ../layout

block content
    .container

        .page-header
            h1= title

        .content
            form(name='Developers' class='form-inline')
                .form-group
                    label(for='email') Email:
                    input(type='text' class='form-control')
                .form-group
                    label(for='expand') Expand:
                    select(class='form-control expand')
                        option(value='true') true
                        option(value='false' selected) false
                button(id='listDeveloperApps' class='btn btn-primary submit') Submit

            h4 Result
            .results

            pre
                code(class='result-json')