extends ../layout

block content
    .container

        .page-header
            h1= title

        .content
            h2 Total Transactions by Developer

            form(name='Analytics' class='form-inline')
                .form-group
                    label(for='email') Email:
                    input(type='text' class='form-control')
                button(id='getTransactions' class='btn btn-default submit') Submit

            h4(class='results') Result
            .highlight
                pre
                    code(class='language-js' data-lang='js')