extends ../layout

block content
    .container

        .page-header
            h1= title

        .content
            form(name='Analytics' class='form-inline')
                .form-group
                    label(for='email') Email:
                    input(type='text' class='form-control')
                button(id='getTransactions' class='btn btn-default submit') Submit

            h4(class='results') Result

            table(class='table table-striped table-bordered table-hover')
                thead
                    tr
                tbody

            pre
                code(class='result-json')