body {
    font-family: Helvetica, Arial, sans-serif;
}

.form-group button,
.form-group input,
.form-group select,
.form-group textarea {
    margin: 5px 20px 5px 0;
}

.form-inline input.form-control {
    width: 300px;
}

label {
    margin-right: 10px;
}

.results {
    margin-top: 50px;
}

table {
    text-align: center;
}

table .date {
    white-space: nowrap;
}

table .totals {
    font-weight: bold;
}