body {
    font-family: Helvetica, Arial, sans-serif;
}

label {
    margin-right: 10px;
}

.submit {
    margin-left: 6px;
}

.results {
    margin-top: 50px;
}

table {
    text-align: center;
}

table .date {
    white-space: nowrap;
}

table .totals {
    font-weight: bold;
}