extends layout

block content
    .container

        .page-header
            h1= title

        .content
            h2 Developers
            ul
                li
                    a(href='/developers/get-developer') Get Developer
                li
                    a(href='/developers/list-apps') List Developer Apps

            h2 Analytics
            ul
                li
                    a(href="/analytics/transactions") Total Transactions

            h2 Monetization
            ul
                li
                    a(href="/monetization/get-revenue-report") Get Revenue Report