extends layout

block content
    .container

        .page-header
            h1= title

        .content
            h2 Developers
            ul
                li
                    a(href='/developers/developer') Get Developer
                li
                    a(href='/developers/list-apps') List Developer Apps

            h2 Analytics
            ul
                li
                    a(href="/analytics/transactions") API Transactions (by Developer)

            h2 Monetization
            ul
                li
                    a(href="/monetization/developer-accepted-rate-plans") Accepted Rate Plans (by Developer)
                li
                    a(href="/monetization/revenue-report") Revenue Report (by Developer)
                li
                    a(href="/monetization/list-email-notification-templates") List Email Notification Templates