extends layout

block content
    .container

        .page-header
            h1= title

        .content
            h2 Developers
            ul
                li Create Developer
                li Delete Developer
                li List Developer Apps

            h2 Analytics
            ul
                li
                    a(href="/analytics/transactions") Total Transactions

            h2 Monetization
            ul
                li Quota Usage
                li Start Date