doctype html
html
    block head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        script(src='//code.jquery.com/jquery-1.11.3.min.js')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        script(src='/scripts/init.js')
        script(src='/scripts/config.js')
        script(src='/scripts/developers.js')
        script(src='/scripts/utils.js')

    body
        block content